---
layout: default
---
{% assign letters = "A B C D E F G H I J K L M N O P Q R S T U V W X Y Z" | split: ' ' %}
{% assign all_creatures = site.creatures | sort: 'name' %}
<div class="home">
  <h1 class="page-heading">Todas las criaturas</h1>
  <p id="creatureSearch">Buscar por nombre: <input type="search" id="jetsSearch"></p>
  <p id="sortBy">Ordenar por: <a href="{{ site.baseurl }}/cr">CR</a> <a href="{{ site.baseurl }}/">nombre</a></p>

  <dl class="tag-list">
    <dt class="spacing">Letra:</dt>
    {% for letter in letters %}
    <dd class="spacing">
      <a href="#{{ letter }}">{{ letter }}</a>
    </dd>
    {% endfor %}
  </dl>
  {% for letter in letters %}
  <a id="{{ letter }}"></a>
  <h2 class="post-list-head jetsHide">{{ letter }}</h2>
  <ul class="post-list jetsContent">
    {% for creature in all_creatures %}
    {% assign l = creature.name | slice: 0 %}
    {% if l != letter %}{% continue %}{% endif %}
    <li>
      <a class="post-link" href="{{ creature.url | prepend: site.baseurl }}">{{ creature.name }}</a>
    </li>
    {% endfor %}
  </ul>
  <a class="post-meta jetsHide" href="#top">Subir &#8593;</a>
  {% endfor %}

  <p class="rss-subscribe">subscribirse <a href="{{ "/feed.xml" | prepend: site.baseurl }}">vía RSS</a></p>
</div>
